<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2 列表展示v-for</title>
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
  </head>
  <body>
    <!--
    //笨 low 方法
      <ul id="video">
      <li>{{massage[0]}}</li>
      <li>{{massage[1]}}</li>
      <li>{{massage[2]}}</li>
      <li>{{massage[3]}}</li>
      <li>{{massage[4]}}</li>
    </ul> -->

    <!-- 正确打开方式 -->
    <!-- 
        方便只是优点的其一，
        当JS中的massage属性值发生增删改的时候，对应的li也会自动增删改
     -->
    <ul id="video">
      <li v-for="val in massage">{{val}}</li>
      <!-- 
        格式:  
        <li v-for="自拟变量 in data中的属性名">{{自拟变量}}</li>-->
    </ul>
    <script>
      const video = new Vue({
        el: "#video",
        data: {
          massage: ["星际穿越", "大话西游", "少年派", "盗墓笔记", "盗梦空间"],
        },
      });
    </script>
  </body>
</html>
